<section class="home d-flex align-items-center">
    <div class="container">
        <div class="item text-center text-white w-75 mx-auto">
            <img  class="home-img" src="./assets/imgs/avataaars.svg" alt="">
        <h2 class="text-uppercase fw-bold py-3 h2">Start Framework</h2>
        <div class="star-container">
            <div class="line-star"></div>
            <i class="fas fa-star fa-xl px-3"></i>
            <div class="line-star"></div>
        </div>

        <p class="small pt-3">Graphic Artist -- Web Designer -- Illustrator</p> 
        </div>
       
    </div>
</section>
